.main-logo-container
    margin: 0 auto
    text-align: center
    margin-top: 40px
    margin-bottom: 24px
    
.main-logo-image
    width: 900px
    border-radius: 5px
    border-radius: 5px
    -o-border-radius: 5px
    -ms-border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    -webkit-box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.5)
    -moz-box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.5)
    box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.5)
    
.intro
    font-size: 16px
    
@media only screen and (min-width: 120px) and (max-width: 320px)
    .main-logo-image
        width: 250px;

@media only screen and (min-width: 321px) and (max-width: 385px)
    .main-logo-image
        width: 300px;
        
@media only screen and (min-width: 386px) and (max-width: 480px)
    .main-logo-image
        width: 400px;
        
@media only screen and (min-width: 481px) and (max-width: 640px)
    .main-logo-image
        width: 550px;