<div class="alignleft">
  Desarrollado con javascript por <a target="_blank" href="http://gaboesquivel.com" alt="Gabo Esquivel: Javascript Developer">Gabo Esquivel</a>. Contribuye en <a target="_blank" href="http://github.com/costaricajs/costaricajs.github.io">Github</a>.

  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>
<div class="clearfix"></div>
