<span class='st_facebook' displayText='Facebook'></span>
<span class='st_twitter' displayText='Tweet'></span>
<span class='st_linkedin' displayText='LinkedIn'></span>
<span class='st_googleplus' displayText='Google +'></span>
<span class='st_reddit' displayText='Reddit'></span>
<span class='st_sharethis' displayText='ShareThis'></span>
<span class='st_email' displayText='Email'></span>