<!-- << IMPORT CSS >>-->
<link rel="stylesheet" href="../../css/src/faq.css">

<h1>FAQ</h1>

<div class="intro">
    <p>Encuentra la respuesta a las preguntas más frecuentes:</p>
</div>
   
<div class="faq-container">
    
   <ol class="faq-list">

       <li class="faq-list-item">
            <p class="faq-question">Como organizar un meetup?</p>
            <p class="faq-answer">Respuesta a esta pregunta...</p>
        </li>
        
        <li class="faq-list-item">
            <p class="faq-question">Quienes pueden participar?</p>
            <p class="faq-answer">Respuesta a esta pregunta...</p>
        </li>
        
        <li class="faq-list-item">
            <p class="faq-question">Tiene algun costo?</p>
            <p class="faq-answer">Respuesta a esta pregunta...</p>
        </li>
        
    </ol>
    
</div>