<!-- << IMPORT CSS >>-->
<%- css('/css/index.css') %>

<!-- << BODY >>-->
<div class="main-logo-container">
    <img class="main-logo-image" src="/img/nodeschool-2015.jpg" />    
</div>


<div class="intro">
    <p>Comunidad de profesionales en desarrollo de software que prefieren JavaScript. Organizamos reuniones abiertas en un ambiente informal para intercambiar ideas y compartir nuestros conocimientos en tecnología, técnicas y herramientas de desarrollo.
     Somos parte de <a class="u-link" target="_blank" href="http://communityjs.org">CommunityJS</a>. Visita nuestro calendario de eventos en <a class="u-link" target="_blank" href="http://meetup.com/CostaRicaJS">meetup.com/costaricajs</a></p>
 </div>



 <!--- nuevo contenido --->

<h3>Últimas Publicaciones</h3>
<% page.posts.each(function(item){ %>
  <%- partial('_partial/post/link', {item: item, index: true}) %>
<% }); %>




