 <%- css('/css/index.css') %>
 
 <!--- nuevo contenido --->
<div class="container index-container">
   
   <div class="row">
       <div class="col-md-12 title-container">
           <h3 class="title-main">Últimas Publicaciones</h3>   
       </div>
   </div>
   
    <div class="posts-container u-center">
        <% page.posts.each(function(item){ %>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 post-container">           
                    <div class="post-link">
                        <%- partial('_partial/post/link', {item: item, index: true}) %>
                    </div>
                    <div class="post-detail">
                        <span class="post-letters">
                            <span class="glyphicon glyphicon-time"></span>
                            <%- new Date(item.date).toLocaleDateString() %>
                        </span>  
                    </div>
                    <% if (item.author) { %>
                        <div class="post-detail">
                            <span class="post-letters">
                                <span class="glyphicon glyphicon-user"></span>
                                <%- item.author %>
                            </span>  
                        </div>
                    <% }%>

                </div>
                <div class="col-md-3"></div>
            </div>
        <% }); %>
    </div>
    
</div>