title: Comunidad de Desarollo en JavaScript de Costa Rica
date: 2015-09-03 02:16:09
comments: false
---

<br><br>
<div class="main-logo-container">
    <img class="main-logo-image" src="/img/nodeschool-2015.jpg" />
</div>


<div class="intro">
    <p>Comunidad de profesionales en desarrollo de software que prefieren JavaScript. Organizamos reuniones abiertas en un ambiente informal para intercambiar ideas y compartir nuestros conocimientos en tecnología, técnicas y herramientas de desarrollo.
     Somos parte de <a class="u-link" target="_blank" href="http://communityjs.org">CommunityJS</a>. Visita nuestro calendario de eventos en <a class="u-link" target="_blank" href="http://meetup.com/CostaRicaJS">meetup.com/costaricajs</a></p>
</div>
