.author
  margin 2em 0
  border-top: 1px solid #BDC3C7
  border-bottom: 1px solid #BDC3C7
  padding-top: 40px
  padding-bottom: 40px
  width: 100%
  .author-image
    max-width 80px
    max-height 80px
    float left
    margin .5em 2em 0 1em
    border-radius: 45px
  .author-name
    font-weight 700
  .author-bio
    line-height 1.5
    display: inline-flex
    width: 60%
  .author-sites
    display: inline-flex
    margin-left 16px
    //width: 20%
    //text-align: center
  .author-sites a
    background-color: #ECF0F1;
    padding: 8px;
    margin-right: 8px;
    border-radius: 5px;
    
@media only screen and (min-width: 0) and (max-width: 767px) {
    .author-bio {
        display: block !important;
        width: 100% !important;
    }
    .author-sites {
        margin-top: 32px;
        text-align: center;
        width: 100%;
        display: block !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .author-bio {
        display: block !important;
        width: 100% !important;
    }
    .author-sites {
      display: block !important;
      width: 100% !important;
      text-align: center;
      margin-top: 24px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .author-bio {
        width: 100% !important;
        display: block !important;
    }
    .author-sites {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 24px;
        display: block !important;
    }
}