.author
  margin 2em 0
  .author-image
    max-width 80px
    max-height 80px
    float left
    margin .5em 2em 0 1em
  .author-name
    font-weight 700
  .author-bio
    line-height 1.5
  .author-sites a
    font-size .8em
    line-height 1
    color #c1c1c1
