.header-logo-image
    width: 40px
    padding-bottom: 20px
    margin-right: 8px
    
.header-container-section
    display: inline-block
    
#main-nav
    margin: 0 !important

#main-nav>ul>li>a
    color: #0067B0;
    
.u-link
    color: #069
    font-weight: bold